page-instruct {

  ion-content{
    background: url("../assets/img/stripedLawn.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .instructionsContainer{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: -3vh;
    padding: 3%;
    .wrapper{
      padding-left: 0 !important;
    }
    ul{
      text-align: center;
      width:100%;
      list-style: none;
      display: table;
      padding:0 !important;
    }
    li{
      text-align: center;
      font-size: 2.2em;
      margin-top: 8vh;
      letter-spacing: 0.5px;
      color: #ffffff;
      font-family: 'Titillium Web', sans-serif;
      word-spacing: 2px;
      text-align: center;
      text-shadow: 1px 1px black;
    }
  }

  // ul{
  //   text-align: center;
  //   width: 100vw;
  //   margin-top: 15vh;
  //   list-style:none;
  // }

  // li{
  //   font-size: 25px;
  //   margin-top: 3vh;
  //   letter-spacing: 0.5px;
  //   line-height: normal;
  //   color: #ffffff;
  //   font-family: "BEBAS" !important;
  //   word-spacing: 2px;
  //   list-style: none;
  //   text-align: center;
  // }

  .setUpBtn{
    margin-left: 10%;
    width: 80%;
    height: 10vh;
    margin-top: 5vh;
    text-align: center;
    background: none;
    border: 2px solid #efefef;
    border-radius: 5px;
    font-size: 1.3em;
    line-height: 4vh;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 3px;

    color: #efefef;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
  }

  .setUpBtn i{
    float: left;
    margin-left: 3vw;
    margin-top:0vh;
    margin-right: 0vw;
    font-size: 30px;
  }
}
