<ion-content scroll="false">
  <div class="instructionsContainer">
    <div class=wrapper>
      <ul>
        <li>
          1. Set up your phone at the bowlers end
        </li>
        <li>
          2. Choose your stumps and ball
        </li>
        <li>
          3. Set up your stumps
        </li>
        <li>
          4. Go LIVE!
        </li>
      </ul>
    </div>
  </div>

  <button class="setUpBtn" (click)="goToChooseEquipmentPage()"><i class="icon icon-setUp"></i>Set Up Stumps</button>
</ion-content>
