<ion-content scroll="false" >

  <div class="redBox" id="redBox"></div>

  <div class="item range stumpsSize">
    <i class="icon icon-cricketBall icon1"></i>
    <input type="range" name="volume" min="11" max="50" id="slider" ng-model="sliderValue" ng-change="sliderChanged(sliderValue)">
    <i class="icon icon-cricketBall icon2"></i>
  </div>
  <button class="goLiveBtn" (click)="goToLbwPage()">Go Live</button>
</ion-content>
