page-set-up {

  .videoCapture{
    position: absolute !important;
    width: 80vw !important;
    height: 100% !important;
    object-fit: cover !important;
  }

  ion-header-bar{
    background: transparent!important;
  }

  .redBox{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    top: 10vh;
    width: 50vw;
    height: 45vh;
    background: #C93756;
    border: 2px solid red;
    border-radius: 10px;
    opacity: 0.4;
    z-index: 1;
  }

  .stumpsSize{
    bottom: 25vh;
    z-index: 1;
    position: absolute;
    border: none;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    width: 90vw;
    background: none;
  }

  .stumpsSize .icon1{
    font-size: 25px;
    color: #C3272B;
  }

  .stumpsSize .icon2{
    font-size: 35px;
    color: #4D8FAC;
  }

  .goLiveBtn{
    position: absolute;
    width: 80vw;
    height: 10vh;
    bottom: 8vh;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    text-align: center;
    background: none;
    border: 2.5px solid #ffffff;
    border-radius: 5px;
    color: #efefef;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px #aeaeae;
  }

  .goLiveBtn i{
    float: left;
    margin-left: 3vw;
    margin-top:0.5vh;
    margin-right: 0vw;
    font-size: 35px;
  }
}
