page-lbw {

  // .trackervid video, canvas {
  //   margin-left: 0px;
  //   margin-top: 0vh;
  //   position: absolute;
  // }
  //
  // .quickstats{
  //     margin-top: 50vh;
  //     position: absolute;
  // }
  //
  //
  // h2{
  //   font-size: 21px;
  // }

  img{
    margin-top: 50vh;
  }
  
  .rect {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -1000px;
    top: -1000px;
  }

}
