page-home {
  ion-content{
    background: url("../assets/img/grassField.jpeg") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }

  .beginBtn{
    position: absolute;
    width: 50%;
    height: 10vh;
    top: 38vh;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    text-align: center;
    background: none;
    font-size: 2.3em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #e1b12c;
    text-shadow: 0.8px 0.8px #e84118;
    border-bottom: 1px dotted #e1b12c;

  }


  .beginBtn i{
    position:absolute;
    left: 5vw;
    top: 2vh;
    font-size: 35px;
  }

  .cricketerSlider{
    height: 43vh;
    /* border: 1px solid black; */
    margin-top: 46vh;
  }

  .adamAsset{
    position: absolute;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    margin-top: 5vh;
  }



}
