
<ion-content>

  <img class="adamAsset animated pulse" src="assets/img/adamAsset.png"/>

  <button class="beginBtn" (click)="goToInstructionsPage()">Begin</button>


  <!-- IONIC SLIDES NOT SPURROTED WITH 3 -->


  <!-- <ion-slides  options="options" slider="data.slider" class="cricketerSlider">
    <ion-slide-page>
      <img class="adamAsset" src="assets/img/adamAsset.png"/>
    </ion-slide-page>
    <ion-slide-page>
      <img class="shaneAsset" src="assets/img/shaneAsset.png"/>
    </ion-slide-page>
  </ion-slides> -->

</ion-content>
