
  <p class="animated bounceInDown title">
    Choose your stumps and ball
  </p>

  <ion-slides  options="options" slider="data.slider" class="stumpsSlider">
    <ion-slide>
      <img class="howzatStumps" src="assets/img/howzatStumps.png"/>
    </ion-slide>
    <ion-slide>
      <img class="bin" src="assets/img/bin.png"/>
    </ion-slide>
    <ion-slide>
      <img class="garageDoor" src="assets/img/garageDoor.png"/>
    </ion-slide>
    <ion-slide>
      <img class="surfBoard" src="assets/img/surfboard.png"/>
    </ion-slide>
    <ion-slide>
      <img class="fence" src="assets/img/fence.png"/>
    </ion-slide>
  </ion-slides>

  <div class="ballSelection">
    <div class="row">
      <div class="col">
        <i class="icon icon-howzatBall2 howzatBall" (click)="index=0"></i>
        <p>Howzat Ball!</p>
        <div class="overlay" *ngIf="index==0">
        </div>

      </div>
      <div class="col">
        <i class="icon icon-cricketBall green" (click)="index=1"></i>
        <p>Green</p>
        <div class="overlay" *ngIf="index==1">

        </div>

      </div>
      <div class="col">
        <i class="icon icon-cricketBall red" (click)="index=2"></i>
        <p>Red</p>
        <div class="overlay" *ngIf="index==2">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="icon icon-cricketBall blue" (click)="index=3" ></i>
        <p>Blue</p>
        <div class="overlay" *ngIf="index==3">
        </div>

      </div>
      <div class="col">
        <i class="icon icon-cricketBall yellow" (click)="index=4"></i>
        <p>Yellow</p>
        <div class="overlay" *ngIf="index==4">
        </div>

      </div>
      <div class="col">
        <i class="icon icon-cricketBall orange" (click)="index=5"></i>
        <p>Orange</p>
        <div class="overlay" *ngIf="index==5">
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <i class="icon icon-cricketBall purple" (click)="index=6"></i>
        <p>Purple</p>
        <div class="overlay" *ngIf="index==6">
        </div>

      </div>
      <div class="col">
        <i class="icon icon-cricketBall gray" (click)="index=7"></i>
        <p>Gray</p>
        <div class="overlay" *ngIf="index==7">
        </div>

      </div>
      <div class="col">
        <i class="icon icon-next" (click)="goToSetUpPage(index)"></i>
      </div>
    </div>
  </div>

  <!-- <button class="nextBtn" ng-click="goToSetUpPage()"><i class="icon icon-setUp"></i>Set Up Stumps</button> -->
