page-equipment {
    background: linear-gradient(150deg, #C4E199, #9DC284, #7BA570);

  .title{
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 5vh;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    font-size: 14px;
    text-shadow: 0.7px 0.7px black;
  }

  .stumpsSlider{
    height: 38vh;
    margin-bottom: 3vh;
    /* border: 1px solid black; */
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;

  }

  .stumpsSlider img{
    width: 60vw;
    object-fit: contain;

  }

  .stumpsSlider .bin{
    width: 38vw !important;
    object-fit: contain;

  }

  .swiper-pagination-bullet{
    margin-bottom: -2vh !important;
     /* background:white!important;
     border-radius: 100%;
     height: 17px;
     width: 17px;
     display: none; */
  }

  .ballSelection{
    width: 100%;
    height: 46vh;
    margin-top: -2vh;
  }

  .ballSelection .row .col{
    text-align: center;
    margin-top: 1%;
    text-shadow: 0.3px 0.3px black;
  }

  .ballSelection .row .col p{
    font-size: 11px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }

  .ballSelection .row .col i{
    /* border: 1px solid black; */
    font-size: 55px;
  }

  .ballSelection .row .col .overlay{
    position: absolute;
    height: 14vh;
    margin-top: -15vh;
    width: 24vw;
    margin-left: 3vw;
    /* border: 1px solid black; */
    border-radius: 5px;
    background: #e8e8e8;
    opacity: 0.3;
  }

  .ballSelection .howzatBall{
    color: #FF00FF;
  }

  .ballSelection .green{
    color: #26A65B;
  }

  .ballSelection .red{
    color: #DC3023;
  }

  .ballSelection .blue{
    color: #22A7F0;
  }

  .ballSelection .yellow{
    color: #F4D03F;
  }

  .ballSelection .orange{
    color: #F9690E;
  }

  .ballSelection .purple{
    color: #8E44AD;
  }

  .ballSelection .gray{
    color: #BDC3C7;
  }

  .icon-next{
    color: #fff;
    line-height: 11vh;
  }

}
