page-decision {

  .decisionPage .homeBtn{
    position: absolute;
    width: 95vw;
    height: 10vh;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    text-align: center;
    background: #aeaeae;
    color: #efefef;
  }

}
